* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  color: rgba(0, 254, 0, 1);
  font-family: cybersecurity;
}

.matrix {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.index {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/pinstripe-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

:root {
  --opacity: 0;
  font-size: 1.3vw;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

/* INDEX PAGE */

.index__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.index__content > * {
  width: 40%;
}

#index__header {
 text-align: center;
 margin: 5vh 0%;
 font-size: 2.5rem;
}

#index__fade-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
}

.fade--animation {
  animation: fade 2s forwards;
}

.fade--hide {
  height: 0% !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 10vh;
  background-color: black;
}

/* MATRIX PAGE */

#matrix__header, #matrix__subheader {
  position: absolute;
  top: 50%;
  left: 50%;
}

#matrix__header {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 254, 0, 1);

  font-size: 5rem;
  font-family: cybersecurity;
    text-shadow: 2px 2px 8px rgba(0, 255, 55, 0.66);
  transform: translate(-50%, -50%);
}

#matrix__subheader { 
  font-family: courier  ;
  color: rgba(0, 254, 0, 1);
  font-size: 2rem;
  transform: translate(-50%, 200%);
}

.shutoff {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  background-color: black;
  opacity: var(--opacity);
}

.shutoff__layer {
  opacity: var(--opacity);

  width: 100%;
  height: 100%;

  background-color: white;
}

#shutoff__white {
  width: 100%;
  height: 100%;
  background-color: white;
}

#shutoff__black {
  width: 100%;
  height:100%;
  background-color: black;
}

.shutoff--animate {
  animation: shutoff 0.5s forwards;
}

.gradient {
  width: 100%;
  height: 100%;
  position: absolute;

  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 28%, rgba(0,0,0,1) 100%);
}

@font-face {
  font-family: cybersecurity;
  src: url(/fonts/Pointless.ttf)
}

@keyframes shutoff {
  0% {
    width: 100%;
    height: 100%;
  }

  50% {
    width: 100%;
    height: 2px;
  }

  100% {
    width: 0%;
    height: 0%;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  p {
    font-size: 2.2rem;
  }

  .index__content > * {
    width: 90%;
  }

  .index__content > * > p {
    margin-bottom: 5vh;
  }

  .index__content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  p {
    font-size: 2.2rem;
  }

  .index__content {
    flex-direction: column;
    align-items: center;
  }
}
